* {
  margin: 0px;
  padding: 0px;
}

body {
  background-image: url("../imagens/fundo.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.containerIconeMenuLateral {
  display: none;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 1030px;
}

.home {
  display: flex;
  height: 800px;
  flex-direction: row;
  align-items: center;
}

.esther {
  color: black;
  font-size: 100px;
}

.imagem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 300px;
}

.fotoMinha {
  width: 300px;
  border-radius: 100%;
}

.icons {
  padding: 10px;
}

.redes {
  padding-top: 20px;
}

.links {
  justify-self: center;
  align-self: center;
  margin-bottom: 30px;
}

.linksEstilo {
  text-decoration: none;
  color: black;
  padding: 30px;
  font-size: 20px;
}

.titulo-principal:after {
  content: "|";
  margin-left: 5px;
  opacity: 1;
  animation: pisca 0.7s infinite;
}

@keyframes pisca {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
@media (max-width: 1400px) {
  .container {
    display: flex;
    flex-direction: column;
    width: auto;
    height: 800px;
    padding-bottom: 500px;
  }
  .home {
    display: flex;
    margin-top: 50px;
    justify-content: center;
    margin-bottom: 200px;
    height: auto;
    width: auto;
    flex-direction: row;
    align-items: center;
  }
  .links {
    justify-self: center;
    align-self: center;
  }
}
@media (max-width: 900px) {
  body {
    background-repeat: repeat;
  }
  .fotoMinha {
    width: 300px;
    height: auto;
  }
  .imagem {
    width: 400px;
    height: auto;
    padding-left: 0px;
    padding-right: 0px;
    padding: 50px;
    padding-bottom: 200px;
  }
  .hello {
    font-size: 30px;
  }
  .esther {
    font-size: 50px;
  }
  .fullstack {
    font-size: 30px;
  }
  .home {
    display: flex;
    align-items: center;
    margin-top: 10px;
    justify-content: center;
    flex-direction: column;
  }
  .links {
    display: none;
  }
  .iconeMenuLateral {
    width: 30px;
  }
  .containerIconeMenuLateral {
    display: block;
    align-self: flex-start;
    justify-self: flex-start;
  }
  .configMenuLateral {
    display: flex;
    flex-direction: column;
  }
  .linksEstilo {
    text-decoration: none;
    color: black;
    padding: 30px 50;
    font-size: 50px;
  }
  .textoPrincipal {
    margin-top: 10px;
  }
  .redes {
    padding-top: 50px;
  }
  .linksEstiloMenuLateral {
    text-align: center;
    text-decoration: none;
    color: black;
    font-size: 30px;
    margin-top: 40px;
  }
}
.quemSou {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.imagemQuemSou {
  height: 100%;
}

.fotoBh {
  margin-left: 100px;
  height: 100%;
}

.textoQuemSou {
  padding: 50px 300px;
  display: flex;
  flex-direction: column;
}

.pQuemSou {
  align-self: flex-end;
  font-weight: 500;
}

.pQuemSou2 {
  font-size: 15px;
  padding: 20px;
  font-style: italic;
}

.h2QuemSou {
  padding: 30px;
  font-size: 10px;
  font-weight: 700;
}

@media (max-width: 2000px) {
  .textoQuemSou {
    padding: 70px 50px;
    padding-right: 0px;
    width: 800px;
    display: flex;
    flex-direction: column;
  }
  .imagemQuemSou {
    height: 500px;
    width: auto;
  }
  .eu {
    margin-left: 50px;
    margin-top: 100px;
    height: 100%;
  }
  .quemSou {
    padding-top: 0px;
    margin-top: 0px;
  }
}
@media (max-width: 900px) {
  .quemSou {
    width: auto;
    margin: 10%;
  }
  .imagemQuemSou {
    display: none;
  }
  .textoQuemSou {
    padding: 0px 0px;
    display: flex;
    flex-direction: column;
  }
  .pQuemSou {
    align-self: flex-end;
    padding: 10px;
  }
  .h2QuemSou {
    padding: 10px;
    font-weight: 300;
    font-size: 10px;
    margin: 10px;
  }
  .h1quemSou {
    margin: 5px;
    align-self: center;
    justify-self: center;
  }
}

@media (max-width: 400px) {
  .hello{
    width: 20%;
    margin: 2%;
  }
  .esther{  
    width: 20%;
    margin: 2%;
  }
  .titulo-principal{
    width: auto;
    margin: 2%;
  }
  .quemSou {
    width: auto;
    margin: 10%;
  }
  .imagemQuemSou {
    display: none;
  }
  .textoQuemSou {
    padding: 0px 0px;
    display: flex;
    flex-direction: column;
  }
  .pQuemSou {
    align-self: flex-end;
    padding: 10px;
  }
  .h2QuemSou {
    padding: 10px;
    font-weight: 300;
    font-size: 10px;
    margin: 10px;
  }
  .h1quemSou {
    margin: 5px;
    align-self: center;
    justify-self: center;
  }
}
.skills {
  padding: 20px 10px;
  background-color: #282828;
  color: white;
  width: 100vw;
}

.h1Skills {
  text-align: center;
  font-size: 30px;
  padding: 20px;
}

.ulSkills {
  list-style-type: none;
  font-style: italic;
}

.ulSkills2 {
  list-style-type: none;
  font-style: italic;
  font-size: 20px;
}

.iconSkills {
  padding: 5px;
}

.linguagens {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.divTec {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  margin: 10px;
  padding-bottom: 20px;
}

.divTecContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 30px;
}

.liColor {
  color: lightgray;
}

.outras {
  height: 100%;
}

@media (min-width: 1000px) {
  .skills {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
    width: 100%;
  }
  .ulSkills2 {
    padding-right: 10px;
  }
  .liColor {
    text-align: flex-end;
  }
}
.meusProjetos {
  width: 100%;
  height: 650px;
  background-color: #282828;
}

.ImagemProjeto {
  width: 300px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 20px;
  border-radius: 15px;
  margin-bottom: 10px;
}

.bgw {
  background-color: white;
}

.h1Projeto {
  padding: 20px;
  color: #198754;
}

.pProjeto {
  color: white;
  margin: 20px;
}

.containerProjeto {
  display: flex;
  height: 500px;
  align-items: center;
  justify-content: center;
  padding: 0px 0px;
  text-align: center;
}

footer {
  background-color: #282828;
  color: lightgray;
  width: 100%;
  height: 20px;
  font-size: 10px;
  text-align: center;
  margin: 0px;
  padding: 0px;
}

@media screen and (min-width: 1000px) {
  .meusProjetos {
    width: 100%;
    height: 100%;
    background-color: #282828;
  }
  .ImagemProjeto {
    width: 800px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 20px;
    border-radius: 15px;
    margin-bottom: 10px;
  }
  .containerProjeto {
    display: flex;
    height: 800px;
    width: 100%;
    flex-direction: column;
    text-align: center;
  }
  .quebra {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}


/*# sourceMappingURL=style.css.map */
