.skills{
    padding: 20px 10px;
    background-color: #282828;
    color: white;
    width: 100vw;
   
}

.h1Skills{
    text-align: center;
    font-size: 30px;
    padding: 20px;
    
}
.ulSkills{
    list-style-type: none;
    font-style: italic;
}
.ulSkills2{
    list-style-type: none;
    font-style: italic;
    font-size: 20px;
   

    
}

.iconSkills{
    
padding: 5px;
}
.linguagens{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.divTec{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding:10px ;
    padding-bottom: 20px;
}

.divTecContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 30px;
    
}
.liColor{
    color: lightgray;
}
.outras{
    
    
    height: 100%;
    
}

@media (min-width:1000px) {
.skills{
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
    width: 100%;
}


.ulSkills2{
    padding-right: 10px;
}

.liColor{
    text-align: flex-end;
}
}

@media (max-width:500px) {
  
}