

.quemSou {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.imagemQuemSou {
    height: 100%;
}

.fotoBh {
    margin-left: 100px;
    height: 100%;


}

.textoQuemSou {
    padding: 50px 300px;
    display: flex;
    flex-direction: column;
}

.pQuemSou {
    align-self: flex-end;
    font-weight: 500;
}
.pQuemSou2{
    font-size: 15px;
    padding: 20px;
    font-style: italic
}

.h2QuemSou {
    padding: 30px;
    font-size: 10px;
    font-weight: 700;

}

@media (max-width:1700px) {
    
    .textoQuemSou {
        padding: 70px 50px;
        padding-right: 0px;
        width: 800px;
        display: flex;
        flex-direction: column;
    }
    .imagemQuemSou {
        height: 500px;
        width: auto;
    }
    .fotoBh {
        margin-left: 50px;
        margin-top: 100px;
        height: 100%;
        
    
    }
    .quemSou{
        padding-top: 0px;
        margin-top: 0px;
    }
   
}

@media (max-width:500px) {
.quemSou{
    width: auto;
}
  .imagemQuemSou{
    display: none;
  }
  .textoQuemSou {
    padding: 0px 0px;   
    display: flex;
    flex-direction: column;
    
}

.pQuemSou {
    align-self: flex-end;
    padding: 10px;
    
}


.h2QuemSou {
    padding: 10px;
    font-weight: 300;
    font-size: 10px;
    margin: 10px;
    

}
.h1quemSou{
    margin: 5px;
    align-self: center;
    justify-self: center;
}
}