.meusProjetos{
    width: 100%;
    height: 650px;
    background-color: #282828;
   

}

.ImagemProjeto{
    width: 300px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 20px;
    border-radius: 15px;
    margin-bottom: 10px;
    
}

.bgw{
    background-color: white;
}
.h1Projeto{
    padding: 20px;
    color: #198754;
}
.pProjeto{
    color: white;
    margin: 20px;
}
.containerProjeto{
    display: flex;
    height: 500px;
    align-items: center;
    justify-content: center;
    padding: 0px 0px;
    text-align: center;

}

footer{
    background-color:#282828;
    color:lightgray;
    width: 100%;
    height: 20px;
    font-size: 10px;
    text-align: center;
    margin: 0px;
    padding: 0px;
}

@media screen and (min-width: 1000px){
    .meusProjetos{
        width: 100%;
        height: 100%;
       
        background-color: #282828;
       
    
    }
    
    .ImagemProjeto{
        width: 800px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        padding: 20px;
        border-radius: 15px;
        margin-bottom: 10px;
        
    }

    
    
    
    .containerProjeto{
        display: flex;
        height: 800px;
        width: 100%;
        flex-direction: column;
        text-align: center;
        
    
    }

    .quebra{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}